<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <p>users view</p>
    <ul>
            <% for(let user of userlist){ %>
            <li><%= user.username %></li>
            <% } %>
    </ul>
</body>
</html>